//This is a sample environment configuration file. The following are configuration instructions:
//1. Create a new file named .env in the same location as this file.
//2. Copy the contents of this file into the .env file.
//3. Modify the values ​​of the configuration items as needed.
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=your_password_here
DB_NAME=StarRoll