//This is a sample environment configuration file. The following are configuration instructions:
//1. Create a new file named .env in the same location as this file.
//2. Copy the contents of this file into the .env file.
//3. Modify the values of the configuration items as needed.
//4. Please refer to backend/config/settings.py

APP_ENV=dev

MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=you_user_name
MYSQL_PASSWORD=your_password
MYSQL_DB_NAME=console

JWT_SECRET=your_super_secret_key_change_this_in_production
JWT_ALGORITHM=HS256
JWT_EXPIRE_HOURS=24

MINIO_ENDPOINT=localhost:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin

ASTRONOMY_NET_ENDPOINT="http://127.0.0.1:8001"
